<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hafalanku"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Hafalanku">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity" />
        <activity
            android:name=".AboutActivity" />
        <activity
            android:name=".HomeScreenGuruActivity" />
        <activity
            android:name=".HomeScreenOrangtuaActivity" />
        <activity
            android:name=".BaseConfiguration" />
        <activity
            android:name=".UnggahVideoActivity" />
        <activity
            android:name=".MutabaahVideoActivity" />
        <activity
            android:name=".KonsultasiActivity" />
        <activity
            android:name=".SetoranSiswaActivity" />
        <activity
            android:name=".PenilaianAllActivity" />
        <activity
            android:name=".OrtuViewHafalanActivity" />
        <activity
            android:name=".PenilaianIndividuActivity" />
    </application>

</manifest>